<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="/assets/images/favicon-32x32.png" type="image/png" />
	<!-- loader-->
	<link href="/assets/css/pace.min.css" rel="stylesheet" />
	<script src="/assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="/assets/css/app.css" rel="stylesheet">
	<link href="/assets/css/icons.css" rel="stylesheet">
	<title>PassGen - A free, fast and practical password generator</title>
</head>

<body class="bg-theme bg-theme1">
	<!--wrapper-->
	<div class="wrapper">
		<div class="d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
					<div class="col mx-auto">
						<div class="my-4 text-center">
							<img src="/assets/images/logo-img.png" width="180" alt="" />
						</div>
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="text-center">
										<h3 class="">Password Generator</h3>
										<p>A free, fast and practical password generator.</a>
										</p>
									</div>
									<div class="d-grid">
										<a class="btn my-4 shadow-sm btn-light" href="javascript:;"> <span
												class="d-flex justify-content-center align-items-center">
												<img class="me-2" src="/assets/images/icons/search.svg" width="16"
													alt="Image Description">
												<span>Sign Up with Google</span>
											</span>
										</a>
									</div>
									<div class="login-separater text-center mb-4"> <span>GENERATE A SECURE PASSWORD</span>
										<hr />
									</div>
									<div class="form-body">
										<form class="row g-3">
											<div class="col-sm-6">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
													<label class="form-check-label" for="flexSwitchCheckChecked">Lowercase</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
													<label class="form-check-label" for="flexSwitchCheckChecked">Uppercase</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
													<label class="form-check-label" for="flexSwitchCheckChecked">Numbers</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
													<label class="form-check-label" for="flexSwitchCheckChecked">Symbols</label>
												</div>
											</div>
											
											<div class="col-12">
												<label for="customRange2" class="form-label">Number of Characters</label>
												<input style="width:100%;"" type="range" min="6" max="60" value="12" id="customRange">
											</div>
											<div class="col-12">
												<div class="text-center">
													<h2 id="demo">00</h2>
												</div>
												
											</div>
											<div class="col-12">
												<div class="d-grid">
													<button type="submit" class="btn btn-light"><i
															class='bx bx-add-to-queue'></i>Generate Password</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						<div class="text-end">Developed with ❤️ by <a target="_blank" href="https://github.com/aguiar-us/">Aguiar</a></div>

						
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/assets/js/jquery.min.js"></script>
	<%- include('@/partials/html/websocket.ejs') %>
	<%- include('@/partials/html/footer.ejs') %>
</body>

</html>